no_chkconfig=0
inittab_id=id
soft_links=1
show_opts=0
boot_levels=2 3 5
shutdown_command=poweroff
order=0
desc=1
sort_mode=0
status_check=0
init_base=/etc/
init_dir=/etc/init.d
init_info=1
order_digits=2
expert=0
exclude=bootmisc.sh,single,halt,reboot,hostname.sh,modutils.sh,mountall.sh,mountnfs.sh,networking,populate-volatile.sh,rmnologin.sh,save-rtc.sh,umountfs,umountnfs.sh,hwclock.sh,checkroot.sh,banner.sh,udev,udev-cache,devpts.sh,psplash.sh,sendsigs,fbsetup,bootlogd,stop-bootlogd,sysfs.sh,syslog,syslog.busybox,urandom,webmin,functions.initscripts,read-only-rootfs-hook.sh,alignment.sh,alsa-state,dmesg.sh,ppp,mqtt,run-postinsts,rc_mxc.S
reboot_command=reboot
